/.Adoptar.java._trace
/.Adoptar.xtendbin
/.Alocado.java._trace
/.Alocado.xtendbin
/.ConseguirLaburo.java._trace
/.ConseguirLaburo.xtendbin
/.Inconformista.java._trace
/.Inconformista.xtendbin
/.Oscilante.java._trace
/.Oscilante.xtendbin
/.Persona.java._trace
/.Persona.xtendbin
/.Realista.java._trace
/.Realista.xtendbin
/.RecibirseCarrera.java._trace
/.RecibirseCarrera.xtendbin
/.Sueño.java._trace
/.Sueño.xtendbin
/.TenerHijo.java._trace
/.TenerHijo.xtendbin
/.TipoDePersona.java._trace
/.TipoDePersona.xtendbin
/.Viajar.java._trace
/.Viajar.xtendbin
/.Viaje.java._trace
/.Viaje.xtendbin
/Adoptar.java
/Alocado.java
/ConseguirLaburo.java
/Inconformista.java
/Oscilante.java
/Persona.java
/Realista.java
/RecibirseCarrera.java
/Sueño.java
/TenerHijo.java
/TipoDePersona.java
/Viajar.java
/Viaje.java
/.Carrera.java._trace
